
<div class="navbar navbar-expand-md navbar-dark bg-dark">
   
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNav" aria-controls="collapsibleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    

    <!-- <div class="collapse navbar-collapse ml-md-4 "  id="collapsibleNav"> -->
    <div class="container">
        <div class=" navbar-nav " >   
      
            <a class="nav-link nav2-ml-md-push" routerLinkActive=" active high" [routerLink] = "['/scheme/addproducts']">All Deals</a>
            <a class="nav-link" routerLinkActive=" active high" [routerLink] = "['/scheme/subscriptions']" >My Subscriptions</a>
            <a class="nav-link" routerLinkActive=" active high" [routerLink] = "['/scheme/payments']">My Payments</a>
            <a class="nav-link" routerLinkActive=" active high" [routerLink] = "['/scheme/redemptions']">My Vouchers</a>
      


            <!-- web view -->
            <!-- <div class="nav-item dropdown"  id="web">
                <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"  > {{ fname }} {{ lname }} </a>
          
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="margin-left: 100px" >
                    <a class="dropdown-item text-success" [routerLink]="['account']" >My Account</a>
                     <a class="dropdown-item text-success" [routerLink]="['settings']" >My Settings</a> -->
                    <!-- <a class="dropdown-item text-success edit"  (click)="OnLog()">Log Out</a>
                </div>
            </div>  --> 

            <!-- mobile view -->
            <!-- <div class="nav-item dropdown" id="mobile" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"  > {{ fname }} {{ lname }} </a>
          
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="padding: -10px">
                    <a class="dropdown-item text-success" [routerLink]="['account']" >My Account</a> -->
                    <!-- <a class="dropdown-item text-success" [routerLink]="['settings']" >My Settings</a> -->
                    <!-- <a class="dropdown-item text-success edit"  (click)="OnLog()">Log Out</a>
                </div>
            </div>  -->
        <!-- </div> -->
    </div>
        
    </div>
           
</div>



