
<div class="container-fluid back">
    <!-- Add Products -->
    <div class="container tab" id="message" >
      

        <!-- <nav>
          <div class="row">
          <div class="col-md-12 text-center deal_categ">
            <ul>
              <li>
                <span (click)="OnGro()">
                    <h4><b>Start your savings</b></h4>
                  <img  [class.high]="clickg" src="../assets/imgs/groceries.png"  alt="img-circle"  class="rounded-circle " width="60" height="60"> 
                  <b>Groceries</b></span>
              </li>
            </ul>
         </div>
       </div> -->
<!-- 
            <div class="row " id="filter"> -->
                <!-- <div class="col-1 col-sm-2 col-xl-1 offset-sm-4 offset-xl-5" (click)="OnJew()"><img [class.high]="clickj"  src="../assets/imgs/jew.png"  alt="img-circle"  class="rounded-circle"  width="60" height="60"  ></div> -->
                <!-- <div  class="col-1 col-sm-2 col-xl-1 offset-sm-5 offset-xl-5" (click)="OnGro()"><img  [class.high]="clickg" src="../assets/imgs/gro.png"  alt="img-circle"  class="rounded-circle " width="60" height="60"></div> -->
                <!-- <div class="col-1 col-sm-2 col-xl-1"><img src="../assets/imgs/car.png"  alt="img-circle"  class="rounded-circle " width="60" height="60"></div>
                <div class="col-1 col-sm-2 col-xl-1"><img src="../assets/imgs/photo.png"  alt="img-circle" class="rounded-circle " width="60" height="60" ></div> -->
            <!-- </div>
            <div class="row " style="font-size: 8pt"> -->
                <!-- <div class="col-1 col-sm-2 col-xl-1 offset-sm-4 offset-xl-5 " (click)="OnJew()" style="cursor: pointer"><b>Jewellery</b></div> -->
                <!-- <div class="col-1 col-sm-2 col-xl-1 offset-sm-5 offset-xl-5" (click)="OnGro()" style="cursor: pointer"><b>Groceries</b></div> -->
                <!-- <div class="col-1 col-sm-2 col-xl-1"><b>Car Rentals</b></div>
                <div class="col-1 col-sm-2 col-xl-1"><b>Photography</b></div> -->
            <!-- </div>
        </nav>  -->
    </div> 
    

<!--     
    
      <div class= "container tab " id="title_message" >
        <div class="page_title text-center">
      <h2>All Deals</h2>
    </div>
      <nav>
      <div class="row " id="filter"> -->
          
          <!-- <div class="col-3 offset-3 " (click)="OnJew()" ><img [class.high]="clickj"  src="../assets/imgs/jew.png"  alt="img-circle"  class="rounded-circle "  width="60" height="60"  ></div> -->
         
          <!-- <div class="col-3 offset-4 " (click)="OnGro()"></div> -->
          
          <!-- <div class="col-3 "><img src="../assets/imgs/car.png"  alt="img-circle"  class="rounded-circle " width="60" height="60"></div>
         
          <div class="col-3 "><img src="../assets/imgs/photo.png"  alt="img-circle" class="rounded-circle " width="60" height="60" ></div> -->
<!--           
      </div>
      <div class="row">
        <div class="col-md-12 text-center deal_categ">
          <ul>
            <li>
              <span (click)="OnGro()">
                 <h4><b>Start your savings</b></h4>
                <img  [class.high]="clickg" src="../assets/imgs/groceries.png"  alt="img-circle"  class="rounded-circle " width="60" height="60"> 
                <b>Groceries</b></span>
            </li>
          </ul>
        </div> -->
          
          <!-- <div class="col-3 offset-3" (click)="OnJew()"><b>Jewellery</b></div> -->
         
          <!-- <div class="col-3  offset-4" "><b>Groceries</b></div> -->
         
          <!-- <div class="col-3 "><b>Car Rentals</b></div>
          
          <div class="col-3 "><b>Photography</b></div> -->
<!--           
      </div>
    </nav> 
    </div> 
     -->

    <!-- jewellery -->
   <!-- <app-jewellery *ngIf="clickj == true" ></app-jewellery> -->



    <!-- Groceries -->
 <!-- <app-groceries *ngIf="clickg == true"></app-groceries> -->

</div>

    <app-footer   class="foot" style="bottom:0; width:100%;"></app-footer>