<app-header></app-header>

<!-- content -->

<!-- <ul class="ul1">
<button type="submit" style="background-color: #6fad20;" class="btn btn-default " (click)="OnSign()">Sign-Up</button>
</ul> -->

<!-- <div class="container-fuild" >
<img class="img" src="../assets/imgs/privacy1.jpg" width="100%" height="300">

<div style="font-size:28pt;padding-bottom:15%;color:white "  class="centered"><b>Privacy</b></div>
<div style="font-size:18pt;padding-bottom:8%;color:white"  class="centered">Read about what we do to respect and protect your privacy</div>
</div> -->

<div class="image">
<img class="w-100" src="../assets/imgs/privacy1.jpg" alt="" >
<span style="text-align: center" ><h2>Privacy </h2>
<h4>Read about what we do to respect and protect your privacy</h4></span>
</div>


<div class="container-fluid aboutus_page" id="background">
<div class="row">
<div class="col-2"></div>
<div class="col-8 ">
<div class="row">
<h5 align="center"><b>Privacy</b></h5>
<p > The Information you provide us will be  secure seriously and follow industry best practices in
the design and implementation of our data security environment.</p>
<p> We lawfully collect personal information that is necessary for our business to function. Customer
passwords and data are protected using the latest encryption technologies to guard against unauthorized
access to our systems. </p>
<p> We’re committed to protecting your privacy and maintaining strong practices in the handling of
personal information in our care. </p>
</div>
<div class="row">

<!-- <h5 align="center"><b>Interaction with the bank:</b></h5> -->
<p>Your privacy is important to us and we value your trust. By using the Site, registering
for or obtaining a Service and/or providing us with personal information, you consent to the collection, use and disclosure of your personal information as described in this Privacy Policy.</p>
<p>We collect personal information from Users directly, through their interactions with the Site and the Services, and through third parties, as described below.
</p>
</div>  
<div class="row">

<h5 align="center"><b>What  information do we need from you:</b></h5>
<p> We may collect personal information from Users in a variety of ways, including, but not limited to, when Users visit or use our Site,
register for or use service, and in connection with other activities, services, features or resources we make available on or through our Site. </p>
<p>Users may be asked for, as appropriate, name, address, email address, telephone number, date of birth and banking or other account information.  Users may also provide us with other personal information when
they contact us with questions, inquiries, complaints or suggestions. We may also collect information about how Users use our Site and Services.
</p>
</div>
<div class="row">

<h5 align="center"><b>Payments</b></h5>
<p> Payment source information collected through our site like debit or credit card details is not stored with us, and we partnered with leading and
trusted payment gateway “Stripe” in handling all payments done through our site, making your payments more secure.
</p>
<p>Payments done for any product or service is directly credited to your merchant’s account and we do not act as any middle-man for collecting your
payments, hence your payments are more transparent.</p>
</div>
<div class="row">

<h5 align="center"><b>Accountability:</b></h5>
<p> We have strict policies and procedures governing how we deal with your Personal information.
Each and every one of our employees is responsible for respecting and protecting  the Personal Information to which the employee has access.
</p>
</div>
<div class="row">

<h5 align="center"><b>Security:</b></h5>
<p>If you create an account, you agree that we may verify your name, address, phone number, and other account
details with information about you held by third party sources and your mobile service provider in order to verify your identity and help protect against potential fraud, such as when someone
other than you is trying to use your account or conduct a transaction without your permission, and you provide your consent for them to disclose and/or compare your information for this purpose
</p>
</div>
<div class="row">
<h5 align="center"><b>Privacy Code:</b></h5>
<p>ANTWALLET Bank is committed to keeping personal information accurate, confidential, secure and private.
The ANTWALLET Privacy Code is an embodiment of this commitment.
This Privacy Code is based on the Personal Information Protection act.
</p>
</div>
<div class="row">

<h5 align="center"><b>Cookies:</b></h5>
<p> Cookies and Similar Technologies. Our Site uses a technology called “cookies”.  A cookie is a tiny element
of data that the Site can send to your browser, which may then be stored on your hard drive so that you can be recognized when you return.<br>
We use cookies on the Site to enhance User experience and in order to deliver personalized products and services. We also use cookies to provide us and our service providers with information
about your use of the Site that we may use to personalize the Site or other content in accordance with your interests and preferences (e.g. Language preference) and improve your user experience.</p>
<p>You may set your Web browser to notify you when you receive a cookie or to not accept certain cookies. However, if you decide not to accept cookies from the Site, you may not be able to take
advantage of all of the features of the Site.
</p>
</div>
</div>
<div class="col-2"></div>
</div>  
</div>                              

<app-footer></app-footer>