
<!-- header -->
<app-header> </app-header>

<!--  Carousel  -->

<div  id="myCarousel" class="carousel slide" data-ride="carousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class=" img-container carousel-item active">
              <!-- <img class="d-block w-100 " src="../../assets/imgs/carouse1.png" alt="First slide"> -->
              <img class="d-block w-100 " src="../../assets/imgs/s1.jpg" alt="First slide">

              <div class=" carousel-caption carousel-text" id="carousel">
                  <label  routerLink='/products' style=" cursor: pointer;  color: #ffffff"></label>
                  <div class="carousel-button">
                  <button  type="submit" style="background-color: #057c9b" class="btn btn-success" (click)="OnSign()"><b>SIGN UP FOR FREE</b></button>
                </div>
               </div>

               <div class=" carousel-caption carousel-textm" id="carousel1">
                <label  routerLink='/products' style=" cursor: pointer;color: #ffffff"></label>
                <div class="carousel-buttonm">
                <button  type="submit" style="background-color: #057c9b" class="btn btn-success" (click)="OnSign()"><b>SIGN UP FOR FREE</b></button>
              </div>
             </div>m

            </div>
            <div class=" img-container carousel-item">
              <!-- <img class="d-block w-100" src="../../assets/imgs/carousel2.jpg" alt="Second slide"> -->
              <img class="d-block w-100" src="../../assets/imgs/s2.jpg" alt="Second slide">

              <div class=" carousel-caption carousel-text" id="carousel">
                <label  routerLink='/products' style=" cursor: pointer;  color: #ffffff"></label>
                <div class="carousel-button">
                <button  type="submit" style="background-color: #057c9b" class="btn btn-success" (click)="OnSign()"><b>SIGN UP FOR FREE</b></button>
              </div>
             </div>

             <div class=" carousel-caption carousel-textm" id="carousel1">
              <label  routerLink='/products' style=" cursor: pointer;  color: #ffffff"></label>
              <div class="carousel-buttonm">
              <button  type="submit" style="background-color: #057c9b" class="btn btn-success" (click)="OnSign()"><b>SIGN UP FOR FREE</b></button>
            </div>
           </div>
            </div>
          
          </div>
          
            
             

          <!-- text -->
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
</div>
<br>
<br>
<!--  Container for B2 -->
<div style=" padding-bottom: 45px" class="container-fluid text-center ">    
  <div class="row  ">
    <div class="col-md-4 logo-small b2-style" style=" padding-bottom: 10px"> 
           
        <span  style=" margin-bottom: 30px; " ><img style="height: 40px; width: 40px;" src="../../assets/imgs/search.png"></span>
         <br>  
        <h4  style="font-size: 15pt; font-weight: bold; padding-top: 30px;">Find a Deal</h4>
            <div class="col-sm-10 offset-sm-1" style="font-size: 12pt">Select a deal from our list of trusted merchants. </div>
            
            
    </div>
    <div class="col-md-4 logo-small b2-style"> 
            <span  ><img style=" height: 50px; width: 50px" src="../../assets/imgs/tick.png"></span>
            <h4  style=" font-size: 15pt; font-weight: bold; padding-top: 20px;">Subscribe for the Deal</h4>
            <div class="col-sm-10 offset-sm-1" style="font-size: 12pt">Select your payment term and get instant vouchers for value paid.</div>
            
    </div>
    <!-- <div class="col-md-3 logo-small b2-style"> 
            <span data-toggle="modal" data-target="#exampleModalLong2" ><img style="cursor: pointer; height: 40px; width: 40px" src="../../assets/imgs/shc.png"></span>
            <h4 data-toggle="modal" data-target="#exampleModalLong2" style="cursor: pointer; font-size: 15pt; font-weight: bold; padding-top: 20px;">Auto Payments</h4>
            <div class="col-sm-10 offset-sm-1" style="font-size: 12pt">Auto Payments are done as per schedule and get a voucher</div>
           
    </div> -->
    <div class="col-md-4 logo-small b2-style"> 
          <span ><img style=" height: 60px; width: 60px" src="../../assets/imgs/deal.png"></span>
            <h4  style=" font-size: 15pt; font-weight: bold; padding-top: 20px;">Redeem your Deal</h4>
            <div class="col-sm-10 offset-sm-1" style="font-size: 12pt">Visit merchant and claim your savings. It's that easy!</div>
           
    </div>

</div>
</div>
<!--  Container for B2 -->

<!-- Container for B3 -->
  <div  class="container-fluid text-center ">
      <div class="row sm-dev-only" stryle="text-align: center">
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="col-2 col-sm-1" id="b3-h"><div class="b3-rectangle"></div></div>
          <div class="b3-text "><h1 style="font-size: 18pt; margin-left: -100px" >Saving money is difficult but spending smartly is easy</h1></div>
          <div class="button-exp">
            <button type="submit" style="background-color: #057c9b; position: absolute;" class="btn btn-success" (click)="OnSign()"><b>SIGN UP FOR FREE</b></button>
          </div>
        </div>
  </div>
<!-- Container for B3 -->

<!-- Container for B4 -->
<!-- Container for B4 -->



<!-- Container for B5 -->
<!-- container B5 --> 
<div class="container-fluid b5-style">
  <div class="row ">
  <div class="col-12 col-sm-2 offset-sm-1" id="space">
<div class="card mb-3 " >
  <img class="card-img-top" src="../assets/imgs/i2.jpg"  alt="Card image cap">
  <!-- <div class="card-footer"> -->
    <!-- <h5 class="text-center" >GRT</h5> -->
    <!-- <p class="text-center" style="font-weight: bold;" >GRT JEWELLERS</p>
   </div> -->
</div>
</div>
<!--  -->
<div class="col-12 col-sm-2" id="space">
<div class="card mb-3 " >
  <img class="card-img-top" src="../../assets/imgs/i6.jpg"  alt="Card image cap">
  <!-- <div class="card-footer"> -->
    <!-- <h5 class="text-center">Cartier</h5> -->
    <!-- <p class="text-center" style="font-weight: bold;" >CARTIER</p>
   </div> -->
</div>
</div>
<!--  -->
<div class="col-12 col-sm-2" id="space">
<div class="card mb-3 " >
  <img class="card-img-top" src="../../assets/imgs/i7.png" alt="Card image cap">
  <!-- <div class="card-footer"> -->
    <!-- <h5 class="text-center">Swarovski</h5> -->
    <!-- <p class="text-center" style="font-weight: bold;" >SWAROVSKI</p>
   </div> -->
</div>
</div>
<!--  -->
<div class="col-12 col-sm-2" style="font-weight: bold;" id="space" >
<div class="card mb-3 " >
  <img class="card-img-top" src="../../assets/imgs/i4.png"  alt="Card image cap">
  <!-- <div class="card-footer"> -->
    <!-- <h5 class="text-center" >Tanishq</h5> -->
    <!-- <p class="text-center" style="font-weight: bold;" >TANISHQ</p>
   </div> -->
</div>
</div>
<!--  -->
<div class="col-12 col-sm-2" id="space">
<div class="card mb-3 " >
  <img class="card-img-top" src="../../assets/imgs/i8.jpg"  alt="Card image cap">
  <!-- <div class="card-footer"> -->
    <!-- <h5 class="text-center">Zales</h5> -->
    <!-- <p class="text-center" style="font-weight: bold;" >ZALES</p>
   </div> -->
</div>
</div>

</div>

</div>


<!-- container B5 -->

<!-- <div class="container" style="padding: 40px; padding-top: 60px; padding-bottom: 70px">
  <div class="row">
    <div class="col-sm-2 offset-sm-1" style="text-align: center; "><img style="border: solid 1px lightgray;  border-bottom: none" src="../../assets/imgs/grt.jpg" > <span  style="font-weight: bold; border:  solid 1px lightgray; padding: 4px; border-top: none" >GRT JEWELLERS</span> </div>
    <div class="col-sm-2" style="text-align: center; "><img  style="border: solid 1px lightgray;  border-bottom: none" src="../../assets/imgs/tan.png" > <span style="font-weight: bold; border:  solid 1px lightgray; padding: 28px; padding-bottom: 4px; border-top: none" >TANISHQ</span> </div>
    <div class="col-sm-2" style="text-align: center; "><img style="border: solid 1px lightgray;  border-bottom: none" src="../../assets/imgs/sawa2.jpg" > <span style="font-weight: bold; border:  solid 1px lightgray; padding: 17px; padding-bottom: 4px; border-top: none" >SWAROVSKI</span> </div>
    <div class="col-sm-2" style="text-align: center; "><img style="border: solid 1px lightgray;  border-bottom: none" src="../../assets/imgs/zales.jpg" > <span style="font-weight: bold; border:  solid 1px lightgray; padding: 41px;  padding-bottom: 4px; border-top: none" >ZALES</span> </div>
    <div class="col-sm-2" style="text-align: center; "><img style="border: solid 1px lightgray;  border-bottom: none" src="../../assets/imgs/cat.jpg" > <span style="font-weight: bold; border:  solid 1px lightgray; padding: 32px; padding-bottom: 4px; border-top: none" >CARTIER</span> </div>
  </div>
</div> -->
<!-- Container for B5 -->


<!-- Container for B6 -->

<div class=" container-fluid b6-style " style=" padding: 30px">
    <div class="row">
      <div class="col-sm-5 offset-sm-1" style="padding:5px">
        <div class="row" style="padding:10px"><h6><b>ABOUT US</b></h6></div>
        <div class="row"><p><b>ANTWALLET is an online market place where customers can
           find attractive deals that local merchants offer. It offers a platform to connect customers 
           and merchants where both benefit from each other in a variety of ways. Customer can find amazing 
           offers to save on instant buys, subscribe to plans with term payments that’s affordable and
            cherish one’s dreams.</b></p>
        </div>
        <div class="row"><p>Saving money is difficult but you can spend it wisely, and this is very important
           in current economic conditions and that’s where we serve you, benefiting customers and merchants
            in the eco-system.</p>
        </div>
        <div class="row"><p>Our Vision is to make our customers happy by spending smart and ensure they realize 
          their long-wished goals!</p>
         </div>
      </div>
      <div class="col-sm-5 offset-sm-1" style="padding:15px">
          <div class="row" style="padding:10px"><h6><b>OUR BENEFITS</b></h6></div>
          <div class="row">
              <p><i class="fa fa-check" style="color:green"> </i> Instant or Subscription based plans</p>
          </div>
          <div class="row">
              <p> <i class="fa fa-check" style="color:green"> </i> Customize your plans to fit your lifestyle</p>
          </div>
          <div class="row">
            <p><i class="fa fa-check" style="color:green"> </i> Secure Payments</p>
          </div>
          <div class="row">
            <p><i class="fa fa-check" style="color:green"> </i> Always retain value paid</p>
           </div>
           <div class="row">
            <p><i class="fa fa-check" style="color:green"> </i> Purchases at discounts</p>
           </div>
           <!-- <div class="row">
            <p><i class="fa fa-check" style="color:green"> </i> Fulfill your dreams.</p>
           </div> -->
      </div>
    </div>
  
  </div>


<app-footer></app-footer>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header"  style="background-color: #057c9b">
          <h5 class="modal-title text-center" style="color: white " id="exampleModalLongTitle">Subscribe Deal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <label style="font-size: 12pt">Set your Goal</label>
        <label style="font-size: 12pt"> Subscribe for any amount and term that you wish, to achieve your goal</label>
        <label style="font-size: 12pt"> Set your payment source & </label>
        <label style="font-size: 12pt"> Add a Beneficiary</label>
        <label style="font-size: 12pt"> Confirm Your Subscription</label>
                 
           
      </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header" style="background-color: #057c9b">
          <h5 class="modal-title  text-center" style="color: white " id="exampleModalLongTitle">Auto Payments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <label style="font-size: 12pt">For successive subscription payments, auto payments are done as per schedule</label> 
          <label style="font-size: 12pt">  For Every subscription payment, you will get a voucher code issued instantly
          Cancel your subscription any time</label>  
           
      </div>
  </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header" style="background-color: #057c9b">
          <h5 class="modal-title text-center" style="color: white " id="exampleModalLongTitle">Redeem your Deal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <label style="font-size: 12pt">Visit merchant store to redeem vouchers any time</label> 
           
      </div>
  </div>
</div>
</div>