#blue
{
order:1;
width: 100%;
}
#orange
{
order:2;
width: 100%;
}

.howitwork_single {
    text-align: center;
}

.howitwork_single h3 {
    font-size: 17px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.howitwork_single p {
    font-size: 14px;
    line-height: 19px;
}

.hw_icon {
    border: 1px solid #fd5f30;
    color: #fd5f30;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    text-align: center;
    line-height: 75px;
    font-size: 26px;
    margin: 0 auto 10px;
    background: #fff;
}
.how_it_outer {
    min-height: 400px;
}
.howitwork_single{ position: relative; }
.howitwork_single:after{
	 	position: absolute;
    content: "";
     width: 70px;
    height: 70px;
    background-image: url(../../assets/imgs/arrow_right.png);
    background-size: 100%;
    top: 6px;
    right: -40px;
    opacity: 0.4;
	 	
	 	 
}

.how_it_outer .col-md-4:nth-child(3) .howitwork_single:after{ content: none;  }
 .cancel_box .howitwork_single:after{ content: none; }

@media screen and (min-width:1000px)
{

#blue
{
order:2;
width: 100%;
}
#orange
{
order:1;
width: 100%;
}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

.howitwork_single h3{
font-size: 16px;
}
.fu_height {
    height: 100vh;
}


}

@media only screen and (max-width: 767px) {


.howitwork_single:after
{
    display: none;
}

}