<app-header></app-header>
<div class="container-fluid fu_height" id="background" style="    background: #efefef;padding-top: 20px;">

<!-- <ul class="ul1">
<button type="submit" style="background-color: #6fad20" class="btn btn-default " (click)="OnSign()">Sign-Up</button>
</ul><br/><br/> -->
<h1 style="text-align:center;padding-bottom:5%;color: #61af00;">How it Works</h1>

<div class="how_it_outer">
	<div class="container">
		<div class="row"> 
		<div class="col-md-4 col-sm-4 col-12">
			<div class="howitwork_single">
				<div class="hw_icon">
					<i class="fa fa-search"></i>
				</div>
				
				<h3>Find a Deal</h3>
				<p>Select a deal from our list of trusted merchants.</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-12">
			<div class="howitwork_single">
				<div class="hw_icon">
					<i class="fas fa-clipboard-check"></i>
				</div>
				
				<h3>Subscribe the Deal</h3>
				<p>Select your payment term and get instant vouchers for value paid</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-12">
			<div class="howitwork_single">
				<div class="hw_icon">
					<i class="fas fa-handshake"></i>
				</div>
				
				<h3>Redeem your Deal</h3>
				<p>Visit merchant and claim your savings.It's that easy!</p>
			</div>
		</div>
		
	</div>

	<div class="cancel_box">
		 <!-- <div class="howitwork_single"> -->
				<!-- <div class="hw_icon">
					<i class="fa fa-times"></i>
				</div> -->
				
				<!-- <h3>Cancel</h3> -->
				<p style="font-size: 9pt">CANCEL : Cancel your subscription any time. Value paid never expires.</p>
			<!-- </div> -->
	</div>
	</div>
	
</div>
 
 


 

</div>

<app-footer></app-footer>