<app-header></app-header>





<div class="image">
<img class="w-100" src="../../assets/imgs/faqq.jpg" alt="" >
<span style="text-align: center" ><h2>FAQ's </h2>
<!-- <h4> Read about what we do to respect and protect your privacy</h4> -->
</span> 
</div>

<div class="container-fluid" id="background">
<div class="row">
<div class="col-2"></div>
<div class="col-sm-8 ">
<div class="faq_page">
    <h2>FAQ's</h2>
    <div class="faq_qus">
        <h3>1. Is it safe & secure?</h3>
        <p >Yes. All the ANTWALLET payments are processed through highly secured payment gateway.</p>
    </div>
    <div class="faq_qus">
        <h3>2. Is there any late fees?</h3>
        <p >No.</p>
    </div>

    <div class="faq_qus">
        <h3>3. Are there any interest charges?</h3>
        <p > No.</p>
    </div>
    <div class="faq_qus">
        <h3>4. Is there any cancellation fees?</h3>
        <p >No. A user can cancel subscription any time and can redeem vouchers immediately or later.
</p>
    </div>

    <div class="faq_qus">
        <h3>5. When can a user redeem a voucher?</h3>
        <p > Customer can redeem vouchers as soon as payment transaction is processed. </p>
    </div>

    <div class="faq_qus">
        <h3>6. Where can a user see his/her voucher?</h3>
        <p >User can login into his/her ANTWALLET account and go to 'My Vouchers' any time.</p>
    </div>
    <div class="faq_qus">
        <h3>7. Is a user notified on their scheduled voucher purchaces?</h3>
        <p > Yes. User receives email notification a day before the payment processing date.</p>
    </div>

    <div class="faq_qus">
        <h3>8. Get in touch with us.</h3>
            <p >A user can call us on our customer support contact number +1-416-907-4665, Monday to Friday between 9AM to 9PM.</p>
            <p >Alternatively, user can reach out to us 24X7 by submitting a form on Contact Us page.</p>
    </div>



</div>

<!-- </div> -->
</div>
<div class="col-sm-2"></div>
</div>
</div>


<app-footer></app-footer>