<app-header></app-header>


<div class="image">
<img class="w-100" src="../../assets/imgs/about.png"  alt="" >
<span style="text-align: center" ><h2>About US </h2>
<h4>Everything you need to know about ANTWALLET</h4></span>
</div>

<div class="container-fluid aboutus_page" id="background">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 ">
      <div class="row">
        <h5 align="center"><b>What does ANTWALLET do?</b></h5>
        <p>ANTWALLET is an online and mobile market place where customers can find attractive deals that local 
          merchants offer. It offers a platform to connect customers and merchants where both benefit from 
          each other in a variety of ways. Customer can find amazing offers to save on instant buys, subscribe
          to plans with term payments that’s affordable and cherish one’s dreams. </p>
          <p>	Earning money is difficult but you can spend it wisely, and this is very important in current 
            economic conditions and that’s where we serve you, benefiting customers and merchants in the 
            eco-system. </p>
            <p>	 Our Vision is to make our customers happy by spending smart and ensure they realize their 
              long-wished goals!</p>
      </div>
      <!-- <div class="row">
        <h5 align="center"><b>Team</b></h5>
        <p>We are a team of 250+ talented individuals across Canada. Every one of us has the opportunity to 
          contribute our skills, ideas, and experience to help revolutionize the world of finance. If you want to
          be part of the revolution (and have fun along the way), check out our careers page.</p>
      </div> -->
      <!-- <div class="row">
        <h5 align="center"><b>Locations</b></h5>
        <h5><b>ANTWALLET in Toronto</b></h5>
        <p>The MogoLounge is home to our Adulting 101 financial education series and other cool events. It's
           also a design hub that hosts collaborations with local and international creators.</p>
      </div> -->
      <div class="row">
        <h5 align="center"><b>Our Mission</b></h5>
        <p>To provide deal-seeking Canadians and their families with discounts on high quality products and 
          services from reputable merchants. ANTWALLET strives to be the most respected deal company in the 
          industry and aims to accomplish this through superior customer service, careful selection of partners, 
          a unique combination of local businesses and large brand names, and a friendly user experience for both
           our customers and business partners.</p>
      </div>
      <div class="row">
        <h5 align="center"><b>The ANTWALLET Family</b></h5>
          <p>At ANTWALLET we are savvy shoppers with jam-packed social calendars. Just like you, we love to get a
            great deal and share the excitement of a great deal with friends and family. That’s why we strive to 
            help you discover new ways to save every day and inspire you to try new things and find new passions.</p>
            <label>We fill our time seeking out fun and interesting products and services available across Canada 
            and delivering them to you at great prices and excellent value. This way you can spend your time 
            enjoying more of the things you love with those you care about. That’s the magic of a great deal.
            </label>
      </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

<app-footer></app-footer>