<app-header></app-header>




<div class="image">
    <img class="w-100" src="../../assets/imgs/careers.jpg"  alt="" >
    <span style="text-align:center" ><h2>Careers</h2>
    <h4>The best way to predict the future is to create it</h4></span>
  </div>
  
  <div class="container-fluid" id="background">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 ">
      <div class="row">
  
  <h5 ><b>About AntWallet</b></h5>
  <p>Join our mission to provide opportunities for millions of hard-working people across the United States, United Kingdom, and soon, around the world.<br>
  Our unique two-sided marketplace matches millions of customers with over 60,000 Taskers, offering convenience, quality and at accessible prices.<br>
  We’re in a period of explosive growth and have dozens of exciting job opportunities available right now at our San Francisco headquarters as well as in New York, London, and Austin.
  </p> 
  </div>
  <div class="row">
  
  <h5 align="center"><b>Our Values</b></h5>
  <br>
  <h5><b>We’re open & approachable</b></h5>
  <p>We believe in transparency and practice direct and respectful communication.
  </p>
  </div>
  <div class="row">
  
  
  <h5 ><b>We learn from & inspire each other</b></h5>
  <p>We prioritize cross-functional working relationships and provide opportunities for mentorship from leaders and teammates.
  </p>
  </div>
  <div class="row">
  
  
  <h5 ><b>Diversity makes us stronger</b></h5>
  <p>Diversity and inclusion are critical to our success. We understand the importance and value in having a variety of people, thoughts and ideas within our company. Women comprise approximately 54% of staff and leadership positions, and approximately 38% of our staff identify as African-American/Black, Hispanic/Latinx, Asian/Pacific Islander and LGBTQ.
  </p>
  </div>
  <div class="row">
  
  <h5 ><b>We’re all on the Product team</b></h5>
  <p>Everyone has a responsibility to help take TaskRabbit to the next level. Your voice will be heard and you’ll have ample opportunities to share your ideas and feedback.
  </p>
  </div>
  <div class="row">
  
  
  <h5 align="center"><b>Who We Are</b></h5>
  <p>AntWallet is providing opportunities to people around the world to earn a living by connecting with others in their community. We are working to generate change and we are committed to playing a role in increasing under represented populations in the tech industry.<br>
  You may have heard the exciting news that TaskRabbit was acquired by the IKEA Group. AntWallet will continue to operate independently, but with the added benefit of growing exponentially through the acquisition. Our mission remains the same: TaskRabbit for everyone; in every part of the world; and on every device.
  </p>
  </div>
  <div class="row">
  
  
  <h5 align="center"><b>Our Culture</b></h5>
  <p><label style="padding-bottom:3%">We’re looking for candidates who are mission-focused, data-driven, and above all else, looking for a deeper meaning in their work. We also pride ourselves in hiring talented individuals from all walks of life and non-tech backgrounds.</label><br>
  AntWallet will always remain a startup at heart with an aim to continue to have small groups of tight-knit teams working cross-functionally, learning from each other, and not being afraid to take on grand challenges.
  </p>
  </div>
  <div class="row">
  
  
  <h5 align="center"><b>Benefits & Perks</b></h5><br>
  
  <h5><b>Challenge & Opportunity</b></h5>
  <p>Grow your career in a multitude of ways - with TaskRabbit and IKEA. As we expand, you’ll have options to work globally.
  </p>
  </div>
  <div class="row">
  
  <h5><b>Learning & Development</b></h5>
  <p>Take part in quarterly trainings and utilize an annual $1,000 learning stipend
  </p>
  </div>
  <div class="row">
  
  
  <h5><b>Benefits</b></h5>
  <p>Amazing health coverage (TR pays 100%), 12 weeks fully paid parental leave, 401matching, 20 days PTO + paid holidays
  </p>
  </div>
  <div class="row">
  
  
  <h5><b>Perks</b></h5><br>
  <p>A monthly TaskRabbit stipend to make life more convenient, plus 15% off at IKEA
  </p>
  </div>
  <div class="row">
  
  <h5><b>Office</b></h5>
  <p>Dog-friendly, San Francisco loft-style headquarters, with two fully-stocked kitchens and a game room. New York and London offices are in modern co-working spaces with great energy. Free lunch every day!
  </p>
  </div>
  <div class="row">
  
  
  <h5><b>Wellness & Connection</b></h5>
  <p>Weekly meditation, Fit Club, annual charity events and awesome off-site adventures
  </p>
  </div>
  </div>
  <div class="col-2"></div>
  </div>
  </div>


<app-footer ></app-footer>

